.main-lay {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background: var(--color-primary);
    overflow: hidden;

    .main-wrapper {
        width: calc(100% - var(--iot-nav-width));
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        overflow: hidden;

        .main-header-lay {
            width: 100%;
            height: var(--iot-header-height);
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-shrink: 0;
            position: absolute;
            top: 0;
            z-index: 1;
            background: var(--color-secondary);
            border-bottom: 1px solid var(--color-border);

            .ttle-txt {
                width: auto;
                height: auto;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 20px;
                color: var(--color-txt-pri);
                font-weight: bold;
            }

            .user-lay {
                width: auto;
                height: auto;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 50%;
                right: 8px;
                transform: translateY(-50%);
                background: var(--color-secondary);
                border: 1px solid var(--color-border);
                border-radius: 50px;
                padding: 4px 8px;
                text-decoration: none;

                .user-ic {
                    font-size: 20px;
                    color: var(--color-edit-txt-sec);
                    margin: 0 8px 0 16px;
                }

                .user-txt {
                    font-size: 13px;
                    color: var(--color-edit-txt-sec);
                    margin: 0 8px 0 16px;
                }
            }
        }

        .main-body-lay {
            width: 100%;
            height: calc(100vh - var(--iot-header-height));
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            flex-shrink: 0;
            position: relative;
            background: var(--color-secondary);
            margin: var(--iot-header-height) 0 0 0;
        }
    }
}